body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-bar {
    /* border: 1px solid white; */
    width: 100vw;
    height: 7vh;
    background-color:  #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
 
  .nav-content-wrapper {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .nav-content-wrapper h1 {
    font-size: 1.2em;
    
  }
  .nav-content-wrapper ul {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-content-wrapper div {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .hero {
    width: 100vw;
    height: 50vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(5, 5, 5);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .hero h1 {
    font-size: 4em;
    font-weight: bold;
    color: #eeff00;
    margin-bottom: 30px;
  }

  .body {
    width: 100vw;
    height: 150vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(255, 255, 255);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .greenContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100vw;
      height: 10vh;
      

  }
  .green1 {
    width: 230px;
    height: 230px;
    background-color: #a4ffd7;
    padding: 1%;
    margin-top: -27%;
    border-radius: 13px;
    

  }
  .green2 {
    width: 230px;
    height: 230px;
    background-color: #a4ffd7;
    padding: 1%;
    margin-top: -27%;
    border-radius: 13px;
    
}
 .green3 {
    width: 230px;
    height: 230px;
    background-color: #a4ffd7;
    padding: 1%;
    margin-top: -27%;
    border-radius: 13px;
    
}

.orangeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 20vh;


}
.orange1 {
    width: 600px;
    height: 250px;
   background-color:  #ffc36c;
   padding: 2%;
   margin-top: 7%;
 
}
.orange2 {
    width: 600px;
    height: 250px;
    background-color:  #ffc36c;
    padding: 2%;
    margin-top: 7%;
    
 } 

.textImage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 50vh;
    margin-top: -15%;
 
    

}
.card {
    
    width: 600px;
    height: 250px;
  
    
} 
.textImage img {
    width: 600px;
    height: 250px;
    

}

.footer {
    
    width: 100vw;
    height: 100px;
    background-color:  #3a3a56;
    margin: 0 auto;
    bottom: 0;
    
   
    
    
    
    
    
    
  } 